.text_login{
  text-align: center;
  margin-top: 30px;
}

.button-width a{
  width: 100%;
}

.d-flex{
 margin: auto;
}

.d-flex, .col{
  width: 450px;
}

.mt{
  margin-top: 30px;
}

.my-checkbox.filled-in:checked + span:not(.lever):after {
  top: 0;

  width: 20px;

  height: 20px;

  border: 2px solid #01579b;

  background-color: #01579b;

  z-index: 0;
}

.list_style li a{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.list_style li i{
  margin-right: 10px;
  padding: 5px;
}

.list_style li:hover{
  background-color: #01589b2c;
}

.card_content, p{
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.card-stacked{
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
}

.active-friends{
  background-color: #01589b2c;
}

.content-right li{
  margin: 10px;
}

.card_main{
  display: inline-flex;
}

.card-pad{
  padding: 10px;
}

.boat_img img{
  width: 100%;
}

.card_title-bg{
  background-color: rgba(0, 0, 0, 0.477) ;
  margin-bottom: 10px;
}


@media only screen and (min-width: 0) {
  .card_title-bg {
      font-size:13px !important;
  }
}

@media only screen and (min-width: 992px) {
  .card_title-bg {
      font-size:13px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .card_title-bg {
      font-size:20px !important;
  }
}

